@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@media screen and (max-width: 768px) {
  html {
    font-size: 15px; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 14px; } }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothings: grayscale; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.section {
  min-height: 650px;
  /* min-width: 940px; */
  height: 100%; }
  .section_centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.container {
  margin: 0 auto;
  position: relative;
  width: 95%;
  max-width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  /* overflow: hidden; */
  height: 100%; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #e25028;
  color: white;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #cb411b; }

.sidebar-section {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 90%;
  top: 10%; }

.rnav__item {
  display: block;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#right-nav a {
  display: block;
  width: 5px;
  height: 5px; }

a.new:after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%; }

.point-active {
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute; }

.hero {
  background-image: url("../img/bg/bg1.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.625rem; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 0.75rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-wrap: wrap; */
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }
  @media screen and (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 24.6875rem; } }
  @media screen and (max-width: 480px) {
    .hero__content {
      width: 90%; } }

.hero-img,
.hero__description {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 480px) {
  .hero-img img {
    width: 300px;
    height: 340px; } }

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-top: 3.75rem; }
  @media screen and (max-width: 768px) {
    .section__title {
      padding-top: 0;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .section__title {
      font-size: 3.9375rem; } }

.hero__description-text {
  color: #fff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 400;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .hero__description-text {
      text-align: center;
      /* width: rem(200px); */ } }
  @media screen and (max-width: 480px) {
    .hero__description-text {
      font-size: 3.375rem; } }

.hero__content__bottom {
  margin-bottom: 1.5625rem; }

@media screen and (max-width: 768px) {
  .header__menu {
    display: none; } }

@media screen and (max-width: 854px) {
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin-top: 12.5rem; } }

.best {
  background-image: url("../img/bg/bg2.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 8.3125rem; }

.best__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-around;
    text-align: center;
    margin-top: rem(250px); */ }
  @media screen and (max-width: 480px) {
    .best__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.best__item {
  margin-bottom: 3.125rem;
  padding: 0 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .best__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      text-align: left;
      margin-left: 0.625rem; } }

.content span {
  font-size: 1.5075rem;
  color: #2f3234;
  font-family: 'Gagalin'; }

.content__bottom {
  font-size: 0.87562rem;
  color: #8b8987;
  width: 17rem; }

.best__item img {
  height: 7.5rem;
  width: 6.875rem;
  display: block;
  margin: 0 auto; }

@media screen and (max-width: 480px) {
  .content {
    margin-left: 0.9375rem; } }

/* .reviews {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    font-size: 0;
    display: flex;
    flex-direction: column;
}

.line {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}
 */
/* .line img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-line {
    width: 25%;
    position: relative;

}

.line__first {
    position: absolute;
    top: rem(50px);
    left: 20px;
    font-family: 'Gagalin';
}

.line__second {
    position: absolute;
    top: rem(80px);
    left: rem(20px);
    width: rem(240px);
}

.line__third {
    position: absolute;
    top: rem(235px);
    left: rem(20px);
    background-color: #2f3234;
    padding: rem(10px);
    border-radius: rem(7px);
}

.line__third:hover {
    background-color: #1f2122;
}

#first--id {
    color: white;
    font-size: rem(14px);
}

#second--id {
    color: white;
    font-size: rem(14px);
    line-height: 1.7;
}

#third--id {
    color: white;
    font-size: rem(14px);
}

.reviews__content {
    position: absolute;
    min-height: 100%;
    width: 100%;
} */
.header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.comment {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  background: #0f0;
  border: 1px solid #000;
  position: relative;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .comment {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; } }

.comments {
  padding: 0;
  margin: 0;
  width: 100%;
  background: #f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100vh; }

.comment::after {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: transparent;
  z-index: 1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.comment:hover::after {
  background: rgba(0, 0, 0, 0.5); }

.comment:hover .comment__content {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.comment__content {
  position: relative;
  z-index: 2;
  padding: 0 1.875rem;
  opacity: 0;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.comment__name {
  font-size: 0.875rem;
  font-family: 'Gagalin', sans-serif;
  color: white;
  margin-bottom: 1.875rem;
  text-transform: uppercase; }

.comment__text {
  font-size: 0.875rem;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  line-height: 1.714; }

.section {
  height: 100vh; }

@media screen and (max-width: 991px) {
  html,
  body {
    font-size: 0.875rem; } }

@media screen and (max-width: 767px) {
  html,
  body {
    font-size: 0.75rem; } }

.team {
  background-image: url("../img/bg/bg3.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.team__right {
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0rem;
  background: rgba(49, 52, 54, 0.9); }
  @media screen and (max-width: 768px) {
    .team__right {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.right__content {
  margin-top: 3.75rem;
  margin-left: 3.75rem; }
  @media screen and (max-width: 480px) {
    .right__content {
      margin-left: 0.625rem; } }

.content__accordeon {
  margin-top: 2.8125rem; }
  @media screen and (max-width: 768px) {
    .content__accordeon {
      text-align: center;
      display: inline-block; } }

.accordeon__text {
  margin-left: 1.25rem; }

.accordeon img {
  /* float: left; */
  /* width: 115px; */
  margin-top: 0.5rem; }

p.accordeon__text::before {
  /* content: url('/img/content/Polygon.png'); */
  margin-right: 0.625rem;
  content: "";
  height: 0;
  width: 0;
  border: 0.375rem solid transparent;
  border-top-width: 0;
  border-bottom-color: #f7b33b;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block; }

.accordeon {
  margin-bottom: 2.1875rem;
  font-family: 'Gagalin';
  color: white; }

.active__block {
  overflow: hidden;
  height: 0; }
  @media screen and (max-width: 768px) {
    .active__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.accordeon__active {
  color: #efad3a;
  /*     .str {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    } */
  /*     .accordeon__text {
        &::before {
            -moz-transform: scaleY(-1);
            -o-transform: scaleY(-1);
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
        }
    } */ }
  .accordeon__active .active__block__text {
    width: 18.25rem;
    margin-left: 0.3125rem;
    line-height: 1.5625rem;
    color: white; }
    @media screen and (max-width: 768px) {
      .accordeon__active .active__block__text {
        text-align: center; } }
  .accordeon__active .active__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0.9375rem;
    font-size: 0.875rem;
    font-family: 'Ubuntu';
    color: white;
    text-align: left;
    overflow: auto;
    height: 100%; }
  .accordeon__active .active__block__img {
    margin-top: 0.375rem; }
  .accordeon__active p.accordeon__text::before {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); }

.menu {
  background-image: url("../img/bg/bg4.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.firstmenu {
  background-image: url("../img/content/accordeon1.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.secondmenu {
  background-image: url("../img/content/accordeon2.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.thirdmenu {
  background-image: url("../img/content/accordeon3.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.m-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.m-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.m-list__item_active .m-list__text {
  max-width: 540px;
  padding: 60px 60px 60px 30px; }

.m-list__title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 5rem;
  background: rgba(47, 50, 52, 0.93);
  font-size: 2.5rem;
  position: relative;
  cursor: pointer;
  font-family: 'Gagalin';
  color: white; }
  @media screen and (max-width: 480px) {
    .m-list__title {
      width: 3.75rem; } }

.m-list__rotation {
  padding-left: 2.5rem;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: rotateZ(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotateZ(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  white-space: nowrap; }

.m-list__text {
  max-width: 0;
  overflow: hidden;
  background: rgba(47, 50, 52, 0.93);
  color: #fff;
  font-size: .875rem;
  padding: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

#menu-title {
  color: white;
  margin-left: 6.5rem; }
  @media screen and (max-width: 768px) {
    #menu-title {
      text-align: left;
      padding-top: 3.125rem;
      margin-left: 0;
      padding-left: 1.25rem;
      /* margin-left: 0px; */ } }

.contacts {
  background-image: url("/img/bg/bg5.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  position: relative; }

.contacts__footer {
  position: absolute;
  width: 100%;
  height: 8%;
  bottom: 0;
  background-image: url("/img/content/footer.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .contacts__footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.footer__left {
  color: white;
  font-size: 0.875rem;
  margin-left: 5rem;
  margin-top: 0.625rem; }
  @media screen and (max-width: 480px) {
    .footer__left {
      margin-left: 1.875rem; } }

.footer__right {
  margin-top: 1.5625rem;
  margin-right: 5rem; }
  @media screen and (max-width: 480px) {
    .footer__right {
      margin-top: 0rem;
      margin-right: 0rem;
      margin-left: 1.875rem; } }

.footer {
  color: #e45028;
  font-weight: bold; }

p.footer:before {
  content: url("/img/content/phone.svg");
  margin-right: 0.5625rem; }

.footer__right img {
  height: 1.875rem;
  width: 2.5rem;
  margin-right: 1.125rem; }
  @media screen and (max-width: 480px) {
    .footer__right img {
      height: 1.25rem;
      width: 1.875rem; } }

/* a.new:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
} */
/* .point-active {
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
} */
.form {
  background-image: url("../img/bg/bg6.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  position: relative; }

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .form__content {
      margin-left: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.zero {
  width: 1.875rem; }

form.form__mainform legend {
  text-align: center;
  padding-top: 8.625rem;
  padding-bottom: 3.75rem; }

.form form {
  color: white;
  font-size: 0.875rem; }

input {
  display: block;
  border-radius: 0.3125rem;
  height: 2.5rem;
  width: 13.75rem;
  margin-right: 0.9375rem; }
  @media screen and (max-width: 480px) {
    input {
      width: 7.5rem; } }

.first__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .first__group {
      /* justify-content: center */ } }

.second__group {
  margin-top: 2.5rem; }
  .second__group input {
    width: 28.5rem; }
    @media screen and (max-width: 480px) {
      .second__group input {
        width: 16rem; } }

.third__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5rem; }
  .third__group input {
    width: 6.4375rem; }
    @media screen and (max-width: 480px) {
      .third__group input {
        width: 3.625rem;
        margin-bottom: 0.625rem; } }

.second__first__group input {
  width: 28.5rem;
  height: 8.5625rem; }
  @media screen and (max-width: 480px) {
    .second__first__group input {
      width: 18.5rem;
      margin-right: 0rem;
      margin: 0 auto; } }

.second__second__group {
  margin-top: 1.875rem; }

.ul__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.ul__second li {
  margin-right: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

li.form__class::before {
  content: '';
  display: block;
  background: #e35028;
  border-radius: 50%;
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.625rem;
  border: 10px solid white; }

.second__third__group {
  margin-top: 1.875rem; }

li.form__class__second::before {
  content: '';
  display: block;
  background: #e35028;
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.625rem;
  border: 10px solid white; }

.second__fourth__group {
  margin-top: 1.875rem; }

@media screen and (max-width: 854px) {
  .form__content {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

/*# sourceMappingURL=main.css.map */