.best {
    background-image: url('../img/bg/bg2.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.section__title--best {
    color: #2f3234;
    padding: 0;
    margin-bottom: rem(60px);
    display: flex;
    justify-content: center;
    margin-top: rem(133px);
}

.best__content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    /* justify-content: space-around;
    text-align: center;
    margin-top: rem(250px); */
    @include phones {
        flex-direction: column;
    }
}

.best__item {
    margin-bottom: rem(50px);
    padding: 0 rem(15px);
    display: flex;
    flex-direction: column;
    text-align: center;
    @include phones {
        flex-direction: row;
        text-align: left;
        margin-left: rem(10px);
    }
}

.content span {
    font-size: rem(24.12px);
    color: #2f3234;
    font-family: 'Gagalin';
}

.content__bottom {
    font-size: rem(14.01px);
    color: #8b8987;
    width: rem(272px);
}

.best__item img {
    height: rem(120px);
    width: rem(110px);
    display: block;
    margin: 0 auto;
}

.content {
    @include phones {
        margin-left: rem(15px);
    }
}