.reviews {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    font-size: 0;
    display: flex;
    flex-direction: column;
}

.line {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.line img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-line {
    width: 25%;
    position: relative;
}

.line__first {
    position: absolute;
    top: rem(50px);
    left: 20px;
    font-family: 'Gagalin';
}

.line__second {
    position: absolute;
    top: rem(80px);
    left: rem(20px);
    width: rem(240px);
}

.line__third {
    position: absolute;
    top: rem(235px);
    left: rem(20px);
    background-color: #2f3234;
    padding: rem(10px);
    border-radius: rem(7px);
}

.line__third:hover {
    background-color: #1f2122;
}

#first--id {
    color: white;
    font-size: rem(14px);
}

#second--id {
    color: white;
    font-size: rem(14px);
    line-height: 1.7;
}

#third--id {
    color: white;
    font-size: rem(14px);
}

.reviews__content {
    position: absolute;
    min-height: 100%;
    width: 100%;
}