/* .reviews {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    font-size: 0;
    display: flex;
    flex-direction: column;
}

.line {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}
 */


/* .line img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-line {
    width: 25%;
    position: relative;

}

.line__first {
    position: absolute;
    top: rem(50px);
    left: 20px;
    font-family: 'Gagalin';
}

.line__second {
    position: absolute;
    top: rem(80px);
    left: rem(20px);
    width: rem(240px);
}

.line__third {
    position: absolute;
    top: rem(235px);
    left: rem(20px);
    background-color: #2f3234;
    padding: rem(10px);
    border-radius: rem(7px);
}

.line__third:hover {
    background-color: #1f2122;
}

#first--id {
    color: white;
    font-size: rem(14px);
}

#second--id {
    color: white;
    font-size: rem(14px);
    line-height: 1.7;
}

#third--id {
    color: white;
    font-size: rem(14px);
}

.reviews__content {
    position: absolute;
    min-height: 100%;
    width: 100%;
} */

.header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.comment {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    background: #0f0;
    border: 1px solid #000;
    position: relative;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @include tablets {
        flex: 0 0 50%;
    }
}

.comments {
    padding: 0;
    margin: 0;
    width: 100%;
    background: #f0f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100vh;
}

.comment::after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: transparent;
    z-index: 1;
    transition: all .3s;
}

.comment:hover::after {
    background: rgba(0, 0, 0, .5);
}

.comment:hover .comment__content {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.comment__content {
    position: relative;
    z-index: 2;
    padding: 0 30px;
    opacity: 0;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    transition: all .3s;
}

.comment__name {
    font-size: 14px;
    font-family: 'Gagalin', sans-serif;
    color: white;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.comment__text {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    line-height: 1.714;
}

.section {
    height: 100vh;
}

@media screen and (max-width: 991px) {
    html,
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    html,
    body {
        font-size: 12px;
    }
}