.team {
    background-image: url('../img/bg/bg3.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
}

.team__right {
    position: absolute;
    height: 100%;
    width: 50%;
    right: rem(-0px);
    background: rgba(49, 52, 54, 0.9);
}

.right__content {
    margin-top: rem(60px);
    margin-left: rem(100px);
}

.content__accordeon {
    margin-top: rem(45px);
}

.accordeon__text {
    margin-left: rem(20px);
}

.accordeon img {
    float: left;
    margin-top: rem(8px);
}

.accordeon {
    margin-bottom: 35px;
    font-family: 'Gagalin';
    color: white;
}

.active__block {
    overflow: hidden;
    height: 0
}

.accordeon__active {
    color: #efad3a;
    .active__block__text {
        width: rem(232px);
        margin-left: rem(22px);
        line-height: 25px;
        color: white
    }
    .str {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }
    .active__block {
        display: flex;
        margin-left: rem(15px);
        font-size: rem(14px);
        font-family: 'Ubuntu';
        color: white;
        text-align: left;
        overflow: auto;
        height: 100%
    }
    .active__block__img {
        margin-top: rem(6px);
    }
}